body{
  background-image:url('https://wallpaperaccess.com/full/639668.png');
  background-size: cover;
}

/* add a black background color to the top navigation */
.topnav {
  background-color: #223043;
  overflow: hidden;
}

/* style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 12px 40px;
  text-decoration: none;
  font-size: 17px;
}

/* change the color of links on hover */
.topnav a:hover {
  background-color: #904b6b;
  color:white;
}

/* first button */
.topnav a.active {
  background-color:#0a2830;
  color: ;
}
 
